// root colors and properties here! 
// стандартные цветовые значения: 
:root { 
   --primary-color: #6088FA;
   --accent-color:#F59E0B;
   --text-color: #F5F5F5;
   --header-color: #0F172A;
   --hover-color:#f59f0bdc; 
   --border-color:  #1E44AF; 
   --margin-x: 2.3rem;
   --margin-y: 3.5rem;
   --border-style: 1rem, 2.3rem

}