style.css


/* обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5, 
h6 {
   font-weight: inherit;
   font-size: inherit ;
}
html,
body {
   height: 100%;
   line-height: 1;
     background:  #FFFFFF;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}
.wrapper {
   min-height: 100%;
   max-width: 1920px;
  
}
.main {
   background-color: none;
}
.header {
  margin: 20px;
  padding: 5px;
  width: 1920px;
  max-height: 120px;
  height: 130px;
}
.header_content {
   width: 100%;
   height: 100%;
   max-height: 120px;
   display:flex;
   gap:90px;
   justify-self: center;
}
.header_content__logo {
   width: 350px;
  max-width: 350px;
   height: 120px;
   margin: 3px;
}
.header_content__content {
   width: 850px;
   margin: 3px;
   height: 120px;
display: block;
margin-left: auto;
margin-right: auto;
}
.contact_links {
   align-items: center;
   display: flex;
   gap: 20px;
   margin: 2px;
}
.header:last-child {
   margin-bottom: 0;
   padding-bottom: 0;
}
.nav_links {
   display: flex;
   text-align: center;
   justify-self: center;
   gap: 45px;
   justify-items: center;
   justify-content: space-evenly;
   margin: 5px;
}
.nav_links a {
font-style: bold;
font-weight: 500;
font-size: 22px;
line-height:26px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #2E3A40;
}
.nav_links a:hover {
   text-decoration: underline 3px  #20B6C9;
   transition: all 0.3s;
   ;
}
.footer {
  background-color: none;
   }
   /* styles for center block */
 
   .center {
      width: 1920px;
      height: 650px;
      display: flex;
      justify-self: center;
      justify-content: center;
      margin: 15px;
   }
   .white_block {
      width:1305px ;
      max-width:1305px ;
      height:650px ;
      background: #F2F5F5;
mix-blend-mode: normal;
   }
   .title {
   width: 660px;
height: 159px;
margin: 80 100 80 100;
   }
   .title h1 {
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;
font-feature-settings: 'pnum' on, 'lnum' on;
text-align: center;
color: #2E3A40;
   }
.subtitle {
width: 578px;
height: 87px;
margin: 80px 100px 80px 100px;
   }
   .subtitle p {
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 145%;
/* or 29px */

font-feature-settings: 'pnum' on, 'lnum' on;

color: #404649;
   }
  
   
   .blue_block {
      width: 615px;
      height: 650px;
      max-width: 615px;
      background: #20B6C9;
   }
   .circle_img {
      width: 580px;
      height: 580px;
      border-radius: 50%;
     margin: 30mpx 80px 35px 0; 
     background-image: url("../img/content/center/circle.png");
   
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
   .buttons {
      width: 550px;
      height: 66px;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      margin-left: 80px;
   }
  .txtbtn {
   width: 271px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 20px 30px;
   gap: 10px;
   height: 30px;
   border-radius: 40px;
   background-color: #FFD362;

  }
  .iconbtn {
   width: 66px;
   height: 66px;
   border-radius: 50%;
   background-color: #FFD362;
   border: none;
   text-align: center;

  }
  .txtbtn:hover, .iconbtn:hover {
   border: 3px solid #20B6C9;
   background-color:#ffd262da ;
   
  }
   #btnimg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
   }
   .cards {
      width: 570px;
      height: 100px;
      display: flex;
      justify-content: space-evenly;
      gap: 60px;
      margin-left: 80px;
   }
   .card {
      width: 190;
      height: 100px;
   }
   .card h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 41px;
      
      
      font-feature-settings: 'pnum' on, 'lnum' on;
      
      color: #2E3A40;
   }
   .card p {
      font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 145%;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #404649;

   }
   .services {
      min-width: 100%;
      width: 1920px;
      height: 790px;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      display: block;
   }
   .services_content {
      width: 100%;
      height: 790px;
      display: flex;
      flex: 1 1 auto;
      gap: 4px;
      justify-content: space-evenly;
   }
   .services_title h2 {
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
font-feature-settings: 'pnum' on, 'lnum' on;
width: 246px;
height: 58px;
color: #2E3A40;
white-space: nowrap;
margin: 15px;
text-align: center;
   }
   .content_hor {
      display: block;
   }
   .content_ver {
      display: flex;
      gap: 5px;
   }
  
   #hor {
      width: 630px;
      height: 310px;
      margin: 2px;
   }
   #ver {
      width: 310px;
      height: 350px;
      margin: 2px;
   }
   .card_title {
      width: 270px;
height: 50px;     
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 34px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #2E3A40;
text-align: center;
   }
   .card_subtitle {
width: 240px;
height: 55px;     
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #404649;
float: left;
margin-left: 3px;
text-align: center;
   }
   .content_card  img{
    display: flex;
    max-width: 50%;
    max-height: 50%;
   margin: 0 auto;

   }
   