@charset "UTF-8";
/* Обнуление стилей */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: unset;
  color: unset;
}

img {
  max-width: 100%;
}

button {
  all: initial;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #6088FA;
  --accent-color:#F59E0B;
  --text-color: #F5F5F5;
  --header-color: #0F172A;
  --hover-color:#f59f0bdc;
  --border-color: #1E44AF;
  --margin-x: 2.3rem;
  --margin-y: 3.5rem;
  --border-style: 1rem, 2.3rem ;
}

body, html {
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

a, p {
  font-size: clamp(16px, 0.83vw, 18px);
  line-height: 1.1;
  color: var(--text-color);
}

h1 {
  font-size: clamp(41.88px, 2.18vw, 45px); /* H1: рассчитано по золотому сечению */
  line-height: 1.3;
  text-wrap: balance;
  color: var(--header-color);
}

h2, h3 {
  font-size: clamp(25.89px, 1.35vw, 28px); /* Заголовки */
  line-height: 1.2;
  text-wrap: balance;
  justify-content: center;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.content {
  width: 100%;
  max-width: 1440px;
  height: inherit;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.button {
  display: flex;
  width: 175px;
  height: 64px;
  padding: 12px 16px;
  text-align: center;
  background-color: var(--accent-color);
  border: 1px solid var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  letter-spacing: 2%;
  font-weight: 700;
  transition: all 200ms ease;
}
@media (hover: hover) {
  .button:hover {
    box-shadow: 4px 12px 0 var(--hover-color);
  }
}
@media (hover: none) {
  .button:active {
    box-shadow: 4px 12px 0 var(--hover-color);
  }
}

.header {
  width: 100%;
  height: 115px;
  background-color: var(--border-color);
}
.header__navigation {
  height: inherit;
  padding: 12px 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
}
@media (max-width: 500px) {
  .header__navigation {
    justify-content: center;
    row-gap: 1.1rem;
  }
}
.header__links {
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
}
.header__links--item {
  margin-left: 2px;
  height: auto;
  transition: all 200ms ease;
}
@media (hover: hover) {
  .header__links--item:hover {
    color: var(--hover-color);
  }
}
@media (hover: none) {
  .header__links--item:active {
    color: var(--hover-color);
  }
}
.header__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main.main {
  width: min(100%, 100vw);
  padding-inline: 12px;
}

.wrapper-container {
  width: min(100%, 1600px);
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 3.5rem;
}

.footer {
  width: 100%;
  max-width: 100vw;
  padding-inline: 15px;
  background-color: var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-flow: row nowrap;
  height: -moz-min-content;
  height: min-content;
}
.footer p {
  text-align: center;
}

.hero {
  width: 100%;
  height: 951px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  row-gap: 10px;
}
.hero__image {
  width: 546px;
  height: 452px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .hero__image {
    justify-content: center;
  }
}
.hero__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 3.5rem;
  margin-left: 10%;
  padding-inline: 12px;
  row-gap: 12px;
}
@media (max-width: 768px) {
  .hero__content {
    justify-content: center;
    align-items: center;
  }
}
.hero__content--title {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 3.2rem;
}
.hero__content--title p {
  text-align: justify;
}
.hero__content--title h1 {
  text-align: center;
}
.hero__content--cta {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
.hero__content--statistic {
  display: flex;
  flex-flow: row wrap;
  gap: 110px;
  justify-content: center;
  align-items: center;
}

.statistic {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}
.statistic p {
  text-align: left;
}
.statistic h4 {
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */