@charset "UTF-8";
/* Обнуление стилей */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  text-decoration: unset;
  color: unset;
}

img {
  max-width: 100%;
}

button {
  all: initial;
}

ul {
  list-style: none;
}

:root {
  --primary-color: #6088FA;
  --accent-color:#F59E0B;
  --text-color: #F5F5F5;
  --header-color: #0F172A;
  --hover-color:#f59f0bdc;
  --border-color: #1E44AF;
  --margin-x: 2.3rem;
  --margin-y: 3.5rem;
  --border-style: 1rem, 2.3rem ;
}

body, html {
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

a, p {
  font-size: clamp(16px, 0.83vw, 18px);
  line-height: 1.2;
  text-wrap: pretty;
  color: var(--text-color);
}

h1 {
  font-size: clamp(41.88px, 2.18vw, 45px); /* H1: рассчитано по золотому сечению */
  line-height: 1.3;
  text-wrap: balance;
  color: var(--header-color);
}

h2, h3 {
  font-size: clamp(25.89px, 1.35vw, 28px); /* Заголовки */
  line-height: 1.2;
  text-wrap: balance;
  justify-content: center;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.content {
  width: 100%;
  max-width: 1440px;
  height: inherit;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.button {
  display: flex;
  width: 175px;
  height: 64px;
  padding: 12px 16px;
  text-align: center;
  background-color: var(--accent-color);
  border: 2px solid var(--text-color);
  border-radius: 0.5rem;
  letter-spacing: 2%;
  font-weight: 700;
  transition: all 200ms ease;
}
@media (max-width: 500px) {
  .button {
    width: 130px;
    padding: 4px 8px;
    margin: 10px;
    text-align: justify;
    height: 55px;
  }
}
@media (hover: hover) {
  .button:hover {
    box-shadow: 4px 12px 0 var(--hover-color);
  }
}
@media (hover: none) {
  .button:active {
    box-shadow: 4px 12px 0 var(--hover-color);
  }
}

.header {
  width: 100%;
  height: 115px;
  background-color: var(--border-color);
}
.header__navigation {
  height: inherit;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px;
}
@media (max-width: 500px) {
  .header__navigation {
    justify-content: center;
    row-gap: 1.1rem;
  }
}
.header__links {
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
}
.header__links--item {
  margin-left: 2px;
  height: auto;
  transition: all 200ms ease;
}
@media (hover: hover) {
  .header__links--item:hover {
    color: var(--hover-color);
  }
}
@media (hover: none) {
  .header__links--item:active {
    color: var(--hover-color);
  }
}
.header__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main.main {
  width: min(100%, 100vw);
  padding-inline: 12px;
  margin-bottom: 2rem;
  overscroll-behavior-y: none;
}
@media (max-width: 500px) {
  main.main {
    padding-inline: 4px;
  }
}

.wrapper-container {
  width: min(100%, 1440px);
  padding: 10px 12px;
  margin: 0 auto;
  margin-top: 3.5rem;
}
@media (max-width: 500px) {
  .wrapper-container {
    padding: 8px;
  }
}

.footer {
  width: 100%;
  max-width: 100vw;
  padding-inline: 15px;
  background-color: var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-flow: row nowrap;
  height: -moz-min-content;
  height: min-content;
}
.footer p {
  text-align: left;
}

.hero {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  row-gap: 10px;
}
.hero__image {
  width: 546px;
  height: 452px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .hero__image {
    justify-content: center;
  }
  .hero__image img {
    display: block;
    margin-inline: auto;
    width: 320px;
    height: 320px;
  }
}
.hero__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 3.5rem;
  margin-left: 10%;
  padding-inline: 12px;
  row-gap: 12px;
}
@media (max-width: 768px) {
  .hero__content {
    justify-content: center;
    align-items: center;
  }
}
.hero__content--title {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 3.2rem;
}
.hero__content--title p {
  text-align: justify;
}
.hero__content--title h1 {
  text-align: center;
}
.hero__content--cta {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
.hero__content--statistic {
  display: flex;
  flex-flow: row wrap;
  gap: 110px;
  justify-content: center;
  align-items: center;
}

.statistic {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}
.statistic p {
  text-align: left;
}
.statistic h4 {
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}

.about {
  margin-top: 30px;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}
@media (max-width: 768px) {
  .about {
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse wrap;
  }
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  row-gap: 3.5rem;
}
@media (max-width: 768px) {
  .about__content {
    align-items: center;
  }
}
.about__content--header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__content--header h3 {
  text-align: center;
}
.about__content--paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.about__content--paragraph p {
  letter-spacing: 2.1%;
}
@media (max-width: 768px) {
  .about__content--paragraph {
    justify-content: center;
    align-items: center;
  }
}
.about__photo {
  width: 352.9048207664px;
  aspect-ratio: 1;
}

.services {
  width: 100%;
  padding: 12px;
  margin: 4px;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 3.2rem;
}
.services__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__header h3 {
  text-align: center;
  font-weight: bolder;
}
.services__cards {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  row-gap: 1rem;
}
@media (max-width: 768px) {
  .services__cards {
    flex-flow: column wrap;
  }
}
.services__cards--card {
  width: 340px;
  height: 290px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  row-gap: 1rem;
  border-radius: 24px;
  border: 4px solid #333333;
  padding: 40px;
}
@media (max-width: 500px) {
  .services__cards--card {
    width: 310px;
    padding: 8px;
  }
}
.services__cards--card h5 {
  text-align: center;
}
.services__cards--card p {
  text-align: left;
}
.services__cards--counter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
  flex-flow: row nowrap;
}
.services__cards--counter p {
  color: #333333;
  border: 1px solid #333333;
  border-radius: 4px;
  text-align: center;
}
.services__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 320px) {
  .services__cards--card {
    width: 180px;
  }
}
.portfolio {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 3.5rem;
}
.portfolio__header {
  justify-content: center;
  align-items: center;
  display: flex;
}
.portfolio__header h3 {
  text-align: center;
}
.portfolio__charts {
  width: 100%;
  padding: 12px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 3.5rem;
}
.portfolio__charts--container {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.portfolio__charts--chart {
  width: 30vw;
  height: 20px;
  border: 4px solid #333333;
  border-radius: 1rem;
}
.portfolio__charts--95 {
  height: 98%;
  width: 95%;
  background-color: var(--accent-color);
  border-radius: 1rem;
}
.portfolio__charts--90 {
  height: 98%;
  width: 90%;
  background-color: var(--accent-color);
  border-radius: 1rem;
}
.portfolio__charts--50 {
  height: 98%;
  width: 50%;
  background-color: var(--accent-color);
  border-radius: 1rem;
}
.portfolio__charts--80 {
  height: 98%;
  width: 80%;
  background-color: var(--accent-color);
  border-radius: 1rem;
}
.portfolio__content--cases {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  height: -moz-min-content;
  height: min-content;
  row-gap: 3.5rem;
}
.portfolio__cases--case {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .portfolio__cases--case {
    flex-flow: column-reverse nowrap;
    justify-content: center;
    row-gap: 3.2rem;
  }
}
.portfolio__cases--text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  row-gap: 1.5rem;
}
@media (max-width: 768px) {
  .portfolio__cases--text {
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .portfolio__cases--text {
    width: 96vw;
  }
}
.portfolio__cases--text .link {
  color: var(--accent-color);
  transition: all 200ms ease;
}
@media (hover: hover) {
  .portfolio__cases--text .link:hover {
    color: var(--hover-color);
  }
}
@media (hover: none) {
  .portfolio__cases--text .link:active {
    color: var(--hover-color);
  }
}
.portfolio__cases--image {
  width: 510.5067985167px;
  height: 315.8220024722px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .portfolio__cases--image {
    justify-content: center;
  }
}

.orange-text {
  color: var(--accent-color);
}

.prices {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 2.3rem;
  padding: 10px;
}
.prices__header {
  width: 100vw;
  height: 56px;
}
.prices__header h3 {
  text-align: center;
}
.prices__content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  row-gap: 2.3rem;
  gap: 2.3rem;
}
@media (max-width: 500px) {
  .prices__content {
    flex-flow: column;
  }
}
.prices__box {
  width: 300px;
  height: 240px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  border: 4px solid #333333;
  border-radius: 16px;
}
.prices__box p {
  text-align: center;
  letter-spacing: 2%;
  font-size: 48px;
  font-weight: bold;
}
.prices__box h5 {
  text-align: center;
  font-weight: black;
  line-height: 25px;
  font-size: 20px;
}

.stages {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 3.2rem;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
}
.stages__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stages__header h3 {
  text-align: center;
}
.stages__content {
  width: 90vw;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 500px) {
  .stages__content {
    row-gap: 1rem;
  }
}
.stages__box {
  width: 300px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 1rem;
  padding: 8px;
  border: 4px solid #333333;
  border-radius: 1rem;
}
.stages__box--numeration {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.stages__box--numeration p {
  color: #333333;
  text-align: left;
}

#form-sending {
  margin-top: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 3.5rem;
  padding: 12px 10px;
}

form#form {
  margin-top: 3.2rem;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  row-gap: 2.5rem;
  border: 4px solid #333333;
  border-radius: 1rem;
}
@media (max-width: 393px) {
  form#form {
    width: 84vw;
  }
}
form#form div {
  width: 200px;
  height: 45px;
  background-color: var(--accent-color);
  padding: 10px 12px;
}
form#form input[type=text] {
  width: 210px;
  height: 45px;
  border-radius: 10px;
  color: var(--border-color);
  border: 2px solid var(--border-color);
}
form#form label {
  text-align: center;
  color: var(--text-color);
}
form#form input[type=submit] {
  color: var(--text-color);
  text-align: center;
}

.form__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__header h3 {
  text-align: center;
}

.social {
  width: 100%;
  height: 110px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--accent-color);
  gap: 10px;
}/*# sourceMappingURL=style.css.map */