.header {
   width: 100%;
   height: 115px;
   background-color: var(--border-color);


   // .header__navigation

   &__navigation {
      height: inherit; //даємо висоту відносно батьківського блоку
      padding: 12px 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;    // даємо можливість вставати в два ряди за потреби
      gap: 10px;
       @include mobile {
         justify-content: center;
         row-gap: 1.1rem;
       }

   }

   // .header__links

   &__links {
      display: flex;
      gap: 1rem;
      flex-flow: row nowrap;
   }

   // .header__links--item

   &__links--item { 
      margin-left: 2px;
      height: auto;
      @include smooth-transition();
      @include hover {
         color: var(--hover-color);
      }

   }

   // .header__btn

   &__btn { 
     display: flex;
     justify-content: flex-start;
     align-items: center;
   }
}

